// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic,cyrillic-ext');
// Variables
@import "_variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-logo {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url("img/logo_w.svg") no-repeat;
  background-size: contain;
}
.navbar-brand {
  span {
    vertical-align: top;
    display: inline-block;
    margin-top: -1px;
    font-weight: bold;
  }
}
.navbar-form {
  .form-control, .btn-default {
    border-color: #24A661;
    color: #24A661;
  }
}

$instrument_icon_height: 24px;
.instruments {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    width: $instrument_icon_height;
    height: $instrument_icon_height;
    opacity: 0.2;
    background-size: cover;
    &.active {
      opacity: 1;
    }
    &.voice {
      background-image: url("img/microphone-2.svg");
    }
    &.drums {
      background-image: url("img/drums.svg");
    }
    &.bass {
      background-image: url("img/electric-guitar_bass.svg");
    }
    &.lead_guitar {
      background-image: url("img/electric-guitar_lead.svg");
    }
    &.rhythm_guitar {
      background-image: url("img/electric-guitar_rhytm.svg");
    }
    &.keys {
      background: url("img/piano-keys.svg");
    }
  }
}

$player-control-width: 20%;
$player-controls-height: 40px;
$player-timeline-width: 100% - $player-control-width;
$buttons-numbrer: 3;
$player-part-height: 20px;

.player {
  &.editable {
    .part {
      cursor: w-resize;
    }
  }
  .controls {
    padding: 10px 0;
    .buttons {
      display: inline-block;
      button {
        width: 42px;
        background: none;
        border: none;
        font-size: 30px;
      }
    }

    .time {
      display: inline-block;
      float: right;
    }
  }
  .timeline {
    &:hover {
      .part {
        opacity: 0.3;
      }
    }
    .parts_container {
      margin-top: 30px;
      height: $player-part-height;
      font-size: 10px;
      position: relative;
      .part {
        top: 0;
        &:hover {
          opacity: 1;
        }
        span {
          display: block;
          transform: rotate(-45deg);
          transform-origin: bottom left;
        }
        transition: opacity .15s ease-in-out;
        padding-left: 1px;
        z-index: 1000;
        height: $player-part-height;
        display: block;
        position: absolute;
        .cue {
          top: 0;
          left: 0;
          width: 1px;
          height: $player-part-height*2;
          position: absolute;
          background: #fff;
          display: block;
        }
      }
    }
    &:hover {
      .cursor {
        display: block;
      }
    }
    .bar {
      width: 100%;
      height: 15px;
      background: $main-color;
      position: relative;
      cursor: pointer;

      .cursor {
        z-index: 1001;
        display: none;
        width: 1px;
        background: $text-color;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .progress {
        transition-property: width;
        height: 100%;
        background: darken($main-color, 6)
      }
    }
  }

  &.sm {
    .parts_container {
      display: none;
    }
    .bar {
      height: 7px;
    }
    .controls {
      padding: 10px 0;
      .buttons {

        button {
          width: 20px;
          font-size: 14px;
        }
      }


    }
  }
}